#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.auth-card {
  width: 300px;
}

.main-logo {
  display: flex;
  justify-content: center;
}

.main-logo > img {
  width: 150px;
}

.active {
  color: limegreen;
}

.trip-card {
  width: 300px;
  height: 350px;
}

.area-card {
  width: 300px;
  height: 350px;
}

.map-container {
  height: 500px;
  width: 90%;
}

.combobox-input {
  border: 1px solid lime;
  padding: 5px;
  margin: 10px;
}

.combobox-list {
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
}

.combobox-option {
  border: 0.5px solid gainsboro;
  padding: 10px 5px 10px 5px;
}

.combobox-option:hover {
  background-color: limegreen;
}

form p.text-red-600 {
  text-align: left;
  margin-top: 1px;
  margin-bottom: 5px;
}
